# Welcome to WorkflowLibs for Jenkins

The goal of this project is to provide standardized ways for developers within SAP Concur to build their projects easily while still allowing developers to create their own custom workflows to meet their needs.

## Contributing

Please read the [Contributing guide](CONTRIBUTING.md) and the [Style Guide](STYLE_GUIDE.md) before submitting a Pull Request.

## Changelog

The changelog per release can be viewed at [Changelog](CHANGELOG.md).

## Available Workflows

{{ CLASS_LINKS }}

